//- script
//- 	if config.env === 'development'
//- 		include ../../../public/config/development.js
//- 	else
//- 		include ../../../public/config/production.js

//- temporary include development config in production
script
	include ../../../public/config/development.js
