extends ../../layout/index

append params
	- var title = race.title;

append styles
	link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
	link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css")
	link(rel="stylesheet", href="/bower_components/fullpage.js/dist/jquery.fullpage.css")

	link(rel="stylesheet", href="/stylesheets/views/races/gagarin-2016/index.css")

append scripts
	mixin requirejs('views/races/gagarin-2016/index')

block body
	#fullpage
		.section.active
			.container
				.col-sm-6
					img(src="/images/views/races/gagarin-2016/spaceship.png")

				.col-sm-6
					h1.h2 #{race.title}
					div #{moment(race.date).format('D MMMM HH:mm')}
					div #{race.address}
					div
						a#letsgo-button.btn.btn-lg.btn-warning(href="javascript:void(0);") Поехали!

		.section
			.container
				.panel.panel-default
					.panel-heading
						h2.panel-title Регистрация

					.panel-body
						form#registration-form(data-race-id="#{race._id}")
							.form-group
								input.form-control.input-lg(name="name", type="text", placeholder="Имя", required="")
							.form-group
								input.form-control.input-lg(name="email", type="email", placeholder="E-mail", required="")
							.text-center
								button.btn.btn-success.btn-lg(type="submit") Я бегу