doctype html

html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")

		title BelRun

		link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")

		style.
			html, body {
				height: 100%;
				min-height: 100%;
			}

			body {
				display: flex;
				font-family: Lucida Grande, Arial, tahoma, verdana, sans-serif;
			}

			.content {
				margin: auto;
				font-size: 20px;
				text-align: center;
				padding: 20px;
			}

	body
		.content Сайт находится в разработке

		<!-- Yandex.Metrika counter -->

		script.
			(function (d, w, c) {
				(w[c] = w[c] || []).push(function() {
					try {
						w.yaCounter35892075 = new Ya.Metrika({id:35892075,
								webvisor:true,
								clickmap:true,
								trackLinks:true,
								accurateTrackBounce:true});
					} catch(e) { }
				});

				var n = d.getElementsByTagName("script")[0],
					s = d.createElement("script"),
					f = function () { n.parentNode.insertBefore(s, n); };
				s.type = "text/javascript";
				s.async = true;
				s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

				if (w.opera == "[object Opera]") {
					d.addEventListener("DOMContentLoaded", f, false);
				} else { f(); }
			})(document, window, "yandex_metrika_callbacks");

		noscript
			div
				img(src="//mc.yandex.ru/watch/35892075", style="position:absolute; left:-9999px;", alt="")

		<!-- /Yandex.Metrika counter -->
