doctype html

- var title = 'BelRun';

block params

html
	head
		meta(charset="utf-8")
		link(rel="stylesheet", href="/components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="/components/bootstrap/dist/css/bootstrap-theme.min.css")
		title #{title}

	body
		block body